{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Select Artwork Version</h2>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">Artwork 1A</div>
                <div class="card-body">
                    <iframe src="https://msg-nu-ashen.vercel.app/?template=1A" style="width:100%;height:300px;border:none;"></iframe>
                    <a href="{% url 'create_instance' %}?template=1A" class="btn btn-success mt-3">Get License for Version A</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">Artwork 1B</div>
                <div class="card-body">
                    <iframe src="https://msg-nu-ashen.vercel.app/?template=1B" style="width:100%;height:300px;border:none;"></iframe>
                    <a href="{% url 'create_instance' %}?template=1B" class="btn btn-success mt-3">Get License for Version B</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
